<section
  class="text-gray-600 body-font w-1\/2 mx-auto flex items-center justify-center"
  style="margin-left: 270px; margin-right: 30px">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
          Profile
        </h1>
        <div class="btn createCourse">
          <div class="h-1 bg-indigo-500 rounded" style="width: 75vw"></div>
        </div>
      </div>
    </div>
    <div class="w-full -m-4" style="display: table">
      <div
        class="max-w-lg flex flex-col"
        style="margin: 20px 100px; max-width: 100%">
        <div
          class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <form
          class="w-full px-6 py-8 md:px-8"
          action="/instructor/update/<%= instructor._id %>"
          method="post">
            <p
              class="mt-3 text-2xl text-center text-indigo-600 dark:text-gray-200">
              Update Profile
            </p>
            <div class="flex items-center justify-between mt-4">
              <span class="w-1/5 border-b dark:border-gray-600 lg:w-1/2"></span>
              <span class="w-1/5 border-b dark:border-gray-400 lg:w-1/2"></span>
            </div>

              <div class="mt-4">
              <label
              for="name"
                class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200"
                for="name"
                >Name</label
              >
              <input
              name="name" required
                id="name"
                class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-indigo-600 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-indigo-300"
                type="text"
                value="<%= instructor.name %>"
                />
            </div>

            <div class="mt-4">
              <label
              for ="username"
                class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200"
                for="description"
                >Username</label
              >
              <input
                id="username"
                required
                name="username"
                class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-indigo-600 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-indigo-300"
                type="text" 
                value="<%= instructor.username %>"/>
            </div>

            <div class="mt-4">
              <label
              for ="password"
                class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200"
                >Password</label
              >
              <input
                id="password"
                required
                name="password"
                class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-indigo-600 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-indigo-300"
                type="password" />
            </div>

            <div class="mt-6">
              <button
                type="submit"
                class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize
                 transition-colors duration-300 transform bg-indigo-500 rounded-lg hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-50 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
                Update Profile
              </button>
            </div>
          </div>
        </form>
     
        </div>
      </div>
    </div>
  </div>
</section>
